body{
	font: lucida fax 400 24px;
	color: #ccc;
	margin: 0;
	padding: 0;
    background-color: #4f5152;
}
.container{
	margin: 0;
}

h1{
	color: #fffeff;
	font-weight: 800;
	font-size: 40px;
	margin-top: 0px;
	text-align: center;
}
h2{
	margin-left: 10px;
}
ul {
    list-style-type: none;
    margin: 0 0 24px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #2e4baf;
}


input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 10px;
    resize: vertical;
}

input[type=submit] {
    background-color: #2e4baf;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #2e4baf;
}

.content {
    padding: 0px 10px 0px 10px;
    display: inline;
}

.content form {
	background: #333;
    padding: 10px;
    text-align: left;
}

.reqform{
    position: relative;
    padding: 0px;
    width: 45%;
    float: left;
    margin: 0px 10px 0px 10px;
}

.viewreqs{
    position: relative;
    width:45%;
    float: right;
    margin: 0px 10px 0px 10px;

}

.viewreqs li {
    float: 
    text-decoration: none;
    text-align: left;
    display: block;
}

.viewreqs ul {
    list-style-type: none;
    margin: 0 0 24px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.viewreqs li {
    float: none;
}

.viewreqs li a {
    display: block;
    color: white;
    text-align: left;
    color: #60bade;
    padding: 14px 16px;
    text-decoration: none;
}

.viewreqs li a:hover:not(.active) {
    background-color: #111;
}

.badge{
    background: #60bade;
    color: white;
    text-align: right;
    float: right;
}

@media (max-width: 482px) {
    .reqform {
        width: 40%;

    }
    .viewreqs {
        width: 40%;
    }
}
